@charset "utf-8";

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: #000;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    font-weight: normal;
}

/* buttons */

button {
    background-color: #000;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    width: 112px;
    height: 24px;
    margin: 2px;

    font-family: "Courier New", Courier, monospace;
    font-size: 8pt;
    font-weight: normal;
}

button:hover {
    background-color: #fff;
    color: #000;
}

button:disabled {
    border: 1px solid #aaa;
    background-color: #888;
    color: #aaa;
    cursor: auto;
}

input[type="radio"] {
    vertical-align: middle;
}

input[type="range"] {
    vertical-align: middle;
    width: 72px;
}

/* game */

.flex {
    display: flex;
    height: 100px;
}

.flex div {
    flex: 1;
}

.game {
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 50vw;
}

.back {
    background-image: url(../images/back2048.png) !important;
}

.backyeah {
    background-image: url(../images/yeah2048.png) !important;
}

.backfail {
    background-image: url(../images/fail2048.png) !important;
}

.gamesvg {
    margin-top: 10vw;
}
